@model TechArchFillingSystem.Models.GeneralViewModel

@{
    ViewData["Title"] = "All Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title mt-0">Files</h4>
                        <p class="card-category">Below is a list of all files. Click on details for more information</p>
                        <div class="row">
                            <div class="col-12 text-right">
                                <a asp-action="UploadFiles" class="btn btn-sm btn-simple btn-outline-info m-2 animation-on-hover"><i class="tim-icons icon-simple-add"></i> Add New</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="dtBasicExample" class="table table-hover dataTable">
                                <thead class="font-weight-bold text-primary">
                                    
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Created By
                                        </th>
                                        <th>
                                            Date Created
                                        </th>
                                        <th class="text-right">
                                            Actions
                                        </th>
                                    </tr>
                                </thead>


                                <tbody>
                                    @foreach (var item in Model.FileDetails.ToList().OrderByDescending(item => item.DateCreated))
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItme => item.FileName)</td>
                                            <td>@Html.DisplayFor(modelItme => item.CreatedBy)</td>

                                            <td>@Html.DisplayFor(modelItme => item.DateCreated)</td>
                                            <td class="td-actions text-right">
                                                <a class="btn btn-info animation-on-hover btn-fab btn-icon btn-round" 
                                                type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm" 
                                                asp-action="DownloadFile" asp-route-fileDetailId="@item.FileDetailsId">
                                                    <span class="material-icons">preview</span>
                                                </a>
                                               @* |
                                                <a class="btn btn-info animation-on-hover btn-fab btn-icon btn-round" 
                                                type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm" 
                                                asp-action="DownloadFile" asp-route-fileDetailId="@item.FileDetailsId">
                                                    <i class="material-icons">get_app</i>
                                                </a>*@
                                               @* | <a class="btn btn-info animation-on-hover btn-fab btn-icon btn-round" type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm" asp-action="Update" asp-route-typeId="@item.FileDetailsId">
                                                    <i class="material-icons">update</i>
                                                </a>*@
                                                |
                                                <a class="btn btn-info animation-on-hover btn-fab btn-icon btn-round" onclick="ConfirmFunction(@item.FileDetailsId)">
                                                    <i class="material-icons">delete</i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
